html {
  padding: 0;
  margin: 0;
  background-image: url(https://tapgfrazier.files.wordpress.com/2017/06/wind.gif);
  background-size: cover;
  background-attachment: fixed;
}
header {
  font-size: 5rem;
  text-shadow: .1rem .1rem .1rem white, -.1rem -.1rem .1rem white, -.1rem -.1rem .1rem white,.1rem .1rem .1rem white;
  text-align: center;
}
h1 {
  text-align: center;
  text-shadow: .1rem .1rem .1rem white, -.1rem -.1rem .1rem white, -.1rem -.1rem .1rem white,.1rem .1rem .1rem white;
}
div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}
section {
  border: 1px solid black;
  border-radius: 10px;
  width: 300px;
  padding: 1rem;
  background-image: linear-gradient(to bottom right, white,lightgray);
  margin: .5rem;
}
aside h2 {
  border: 1px solid black;
  text-align: center;
  padding: 1rem;
  background-image: linear-gradient(to bottom right, white,lightgray);
  border-radius: 10px;
}
aside {
  display: flex;
  justify-content: center;
  align-content: center;
}
